<style>
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }

    html {
        box-sizing: border-box;
        font-size: 100%;
    }

    body {
        font-family: "Nunito", sans-serif;
        color: #333;
        font-weight: 300;
        line-height: 1.6;
    }

    figure {
        margin: 0 0 0;
    }

    .container {
        width: 100%;
        margin: 2rem auto;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 10vw);
        grid-gap: 5px;
    }

    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .gallery__item--1 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;

    }

    .gallery__item--2 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;

    }

    .gallery__item--3 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;

    }

    .gallery__item--4 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;

    }

    .gallery__item--5 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;

    }

    .gallery__item--6 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;

    }

    .gallery__item--7 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;

    }

    .gallery__item--8 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;

    }

    .gallery__item--9 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 6;

    }


</style>


{% block content %}
    <div class="container">
        {% for collage in out_image %}


            <div class="gallery">
                {% if collage.0 %}
                    <figure class="gallery__item gallery__item--1">
                        <img src="{{ collage.0 }}"
                             alt="Gallery image 1" class="gallery__img">
                    </figure>
                {% endif %}

                {% if collage.1 %}
                    <figure class="gallery__item gallery__item--2">
                        <img src="{{ collage.1 }}"
                             alt="Gallery image 2" class="gallery__img">
                    </figure>
                {% endif %}

                {% if collage.2 %}
                    <figure class="gallery__item gallery__item--3">
                        <img src="{{ collage.2 }}"
                             alt="Gallery image 3" class="gallery__img">
                    </figure>
                {% endif %}

                {% if collage.3 %}
                    <figure class="gallery__item gallery__item--4">
                        <img src="{{ collage.3 }}"
                             alt="Gallery image 4" class="gallery__img">
                    </figure>
                {% endif %}

                {% if collage.4 %}
                    <figure class="gallery__item gallery__item--5">
                        <img src="{{ collage.4 }}"
                             alt="Gallery image 5" class="gallery__img">
                    </figure>
                {% endif %}

                {% if collage.5 %}
                    <figure class="gallery__item gallery__item--6">
                        <img src="{{ collage.5 }}"
                             alt="Gallery image 6" class="gallery__img">
                    </figure>
                {% endif %}

                {% if collage.6 %}
                    <figure class="gallery__item gallery__item--7">
                        <img src="{{ collage.6 }}"
                             alt="Gallery image 7" class="gallery__img">
                    </figure>
                {% endif %}

                {% if collage.7 %}
                    <figure class="gallery__item gallery__item--8">
                        <img src="{{ collage.7 }}"
                             alt="Gallery image 8" class="gallery__img">
                    </figure>
                {% endif %}

                {% if collage.8 %}
                    <figure class="gallery__item gallery__item--9">
                        <img src="{{ collage.8 }}"
                             alt="Gallery image 9" class="gallery__img">
                    </figure>
                {% endif %}


            </div>
        {% endfor %}

    </div>
{% endblock %}